- var pageTitle = "WinNeddik Accueil"
- var metaDesc = "WinNeddik Site Pionnier dans les transport"
- var navClasses = "navbar-light bg-white shadow-sm"
- var navOpacity = true
- var logo = 'assets/images/logo2.png'
