footer.footer
    .container
        .row
            .col-12.col-sm-12.col-md-6.col-lg-2.d-flex.align-items-center
                img.img-fluid.mb-3(src="assets/images/logo.png")
            .col-md-6.col-lg-3.col-sm-12.col-12
                p.tf_prez Tendfox est un outil qui permet d’avoir une vue globale sur l’économie d’un pays, son actualité, l’ensemble de ses données financières, accès au profiles du tissus économique et fournir un outil puissant d’achat et de mises en relation
            .col-md-6.col-lg-4.col-sm-12.d-flex.justify-content-center.align-items-center.tf_links
                ul.contact.list-inline
                    li.list-inline-item
                        a(href='#') Liens utiles
                    li.list-inline-item |
                    li.list-inline-item
                        a(href='#') Contact
                    li.list-inline-item |
                    li.list-inline-item
                        a(href='aide.html') Aide
                    li.list-inline-item |
                    li.list-inline-item
                        a(href='#') Conditions générales d'utilisation
            .col-lg-3.col-md-6.col-sm-12.col-xs-12.d-flex.align-items-center
                .service_commercial.bg-white.d-flex
                    .img_service
                        img.mr-2(src="assets/images/service_comercial.png")
                    .info_contact
                        dl.m-0
                            dt Service commercial :
                            dd.text-primary +213 (0) 560 29 61 15
                            dt.mt-2 Service Clients :
                            dd.text-primary +213 (0) 560 26 58 43

    .bottom-bar
        .container
            p.text-center.tf_prez © 2018 www.tendfox.com All rights reserved.
