nav.navbar(role='navigation')
    .content
        span.logo
            img(src='assets/images/tajam.png')
        .mobile_nav
            .humberger
                span
                span
                span
        .navigation
            ul
                li
                    a(href="") Home
                li
                    a(href="") About
                li
                    a(href="") Entreprise
                li
                    a(href="") Teams
                li
                    a(href="") Works
                li
                    a(href="") People say
                li
                    a(href="") Contact
