nav.navbar
    .content
        span.logo
        .navigation
            ul
                li
                    a(href="") Home
                li
                    a(href="") About
                li
                    a(href="") Entreprise
                li
                    a(href="") Teams
                li
                    a(href="") Works
                li
                    a(href="") People say
                li
                    a(href="") Contact
