extends ../_layouts/wrapper
block content
  include ../_layouts/sections/header/menu
  include ../_layouts/sections/slider
  include ../_layouts/sections/history
  include ../_layouts/sections/video_history



