//!
  * formatting
%col
  float: left
  position: relative
  min-height: 1px
  padding: 0 $gutter*0.5
  background: rgba(#000,0.2)
  border: 1px solid rgba(#000,0.35)

.row
  margin: 0 $gutter * -0.5
  *zoom: 1
  &:before,
  &:after
    content: ""
    display: table
    clear: both
//
  * mixin for calculate culumns
@mixin columns($suffix: '')
  @for $i from 1 through $columns
    .col#{$suffix}-#{$i}
      width: $i/$columns *100%
//
// *
@for $i from 1 through $columns
  @include columns()
  .col-m-#{$i}, .col-l-#{$i}, .col-#{$i}
    @extend %col

@media only screen and (min-width: $large)
  @include columns('-l')
@media only screen and (min-width: $medium)
  @for $i from 1 through $columns
    @include columns('-m')
