@import "theme"
.navbar
  z-index: 10
  width: 100%
  padding-top: 15px
  position: fixed
  top: 0
  &:before,
  &:after
    clear: both
  .navigation
    float: right
    ul
      margin: 0
      padding: 0
      li
        list-style: none
        display: inline-block
        float: left
        a
          padding: 8px 15px
          display: inline-block
          text-decoration: none
          text-transform: uppercase
          color: #3d3d3d
          transition: color 0.3s ease-in
          font-weight: 500
          &:hover
            color:  #03D8CA
