section.history
    .content
        .row
            .col-m-5
                .logo
            .col-m-7
                h3.tanjam_title OUR HISTORY
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi architecto commodi corporis delectus eaque ipsa iste maiores, molestias nesciunt omnis perspiciatis quibusdam sapiente sed tempore ut vero voluptatem voluptatum.
