section.slider
    .content
        .row
            .col-m-8.mx-auto
                h1 we are awesome creative agency
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores eius, excepturi impedit iusto natus odit optio, perspiciatis quae quas quidem temporibus ullam voluptatum! Culpa dolores minima molestiae sed temporibus.
