section.tanjam_section.video_history
    .content
        .row
            .col-12
                .play(style="visibility: hidden")
                    iframe(width="100%" height="400px" src="https://www.youtube.com/embed/olnBsYER3WQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
